CODER_HTTP_ADDRESS=127.0.0.1:7080
CODER_ACCESS_URL=https://compute.tashan.chat
CODER_WILDCARD_ACCESS_URL=*.workspaces.compute.tashan.chat
CODER_PG_CONNECTION_URL=
CODER_TELEMETRY_ENABLE=false
CODER_UPDATE_CHECK=false
CODER_PROMETHEUS_ENABLE=true
CODER_PROMETHEUS_ADDRESS=127.0.0.1:7081
CODER_PROXY_TRUSTED_HEADERS=X-Forwarded-For
CODER_PROXY_TRUSTED_ORIGINS=127.0.0.1/32
